
<h1> Edit Cats </h1>

<form action = "/cats" method="POST">
    <input type="hidden" name = "_method" value = "patch">

    <label for="Birthday"> Birthday </label>
    <input id="Birthday" type="date" name="cat[birth_day]" value="<%= @cat.birth_date %>">
    <br>
    <label for="Name">Name </label>
    <input id="Name" type="text" name="cat[name]" value="<%= @cat.name %>">
    <br>
    <label for="Color">Color </label>
    <select id="Color" name="cat[color]">
      
        <option value="orange" <%= @cat.color == "orange" ? "selected" : "" %> >Orange</option>
        <option value="black" <%= @cat.color == "black" ? "selected" : "" %> >Black</option>
        <option value="grey" <%= @cat.color == "grey" ? "selected" : "" %>>Grey</option>
        <option value="brown" <%= @cat.color == "brown" ? "selected" : "" %>>Brown</option>
    </select>
    <br>
    <p>Sex</p>
    <input name = "S"  type="radio" id = "M" value = "M"> 
    <label for="M">M</label>
    <input name = "S" type="radio" id = "F" value = "F"> 
    <label for="F">F</label>
    <br>
    <label for="Description">Description</label>
    <textarea name="cat[description]">Type here</textarea>
    <input type="submit" value="Add new Cat">
</form>