<h1> All the Cats </h1>


<ul>
<% @cats.each do |cat| %>
    <li>
        <%= cat.name%>
        <%= cat.birth_date %>
        <%= cat.age %>
        <%= cat.color %>
        <%= cat.sex %>
        <%= cat.description %>
    </li>
</ul>